#header_tbl {
    background: #f0f0f0;
    color: #767676;
}


* {
  font-family: 'NanumSquareRound', sans-serif
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    vertical-align: middle;
    border-color: inherit;
    background: #f0f0f0;
    color: #767676;
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.rank_tbl {
    margin-top: 15px;
}

th,
td {
    vertical-align: middle;
     font-family: 'NanumSquareRound', sans-serif;
}

btn {
    justify-items: center
}

.atag {
    text-align: center;
}

.rankNumber {
    text-align: center;
    font-size: 50px;
}


.detailTopMid {
    float: left;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight:700;
}

.detailTopMid a {
    text-decoration: none;
}

.btn_lst {
	font-size:20px;
    float: right;
}

.btn_lst a {
    text-decoration: none;
    color: gray;
}

.btn_lst a.on,
.fi-chevron-down {
    color: #fd5631;
}


/* ///////////////// */

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    display: inline-block;
    background: #ffff;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.on {
    background: #d3d3d3;
    color: #222;
}

.tab-content {
    display: none;
    padding: 12px;
}

.tab-content.on {
    display: inherit;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@ */


/*tab css*/

.rank_contain {
    border: solid 1px #d3d3d3;
}

.rank_contain ul {
    display: flex;
}

.rank_contain ul li {
    flex: 1;
}

.rank_contain ul li a {
    display: block;
    height: 60px;
    font-size: 20px;
    text-decoration: none;
    color: #242424;
    line-height: 60px;
    text-align: center;
}

.rankBody {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}
.rankHead {
	font-size:20px;
	font-weight:700;

}